
.new-style{
    float: left;
}
.new{
    text-align: right;
}

.style{
    text-decoration: solid;
    font-weight: 700;
    font-size: 50px;
    margin: auto;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.deep-style{
    background-color: rgb(255, 94, 0);
    font-size: 25px;
    padding: 10px 10px;
    border: 0;
    border-radius: 5px;
    text-align: left;  
}
.hair-fall{
    float:left;
    margin-bottom: 10px; 
}
.old{
    text-align: right;
    margin-top: 400px;
    
}
.new-hair{
    text-decoration: solid;
    font-weight: 700;
    font-size: 50px;
    margin: auto;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.old-new{
  padding: 10px 10px;
}
.habiba{
    margin-top: 300px;
}
.mira{
    display: flex;
    gap: 215px;
    text-align: center;
    border-radius: 5px;
}
.joti{
    text-decoration: solid;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin-top: 15px;
}
.mother{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 19px;
}
.father{
    position: absolute;
    top: 50%;
    left: 33%;
    color: white;
    padding: 20px 20px;
    transform: translate(-50% -50%);
}
.book{
    display: flex;
    gap: 110px;
    background-color: black;
    padding: 130px 200px;
}
.bangla-book{
    color: azure;
    font-weight: 700;
    font-size: 70px;
}
.english-book{
    color: azure;
}
.math{
    color: azure;
}
.ict{
    color: azure;
}
.gre{
    color: orange;
    margin-top: 10px;
    font-size: 25px;
}
.international{
    color: azure;
}